.bodyImage{
    background: url('../images/rms.jpg') no-repeat fixed;
    /*background-size: cover;*/
    /*opacity: 0.2;*/
    /*filter: alpha(opacity=80);*/
}

.bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^=bmd-label] {
    position: relative;
}
.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: none;
}

.custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    box-shadow: none;
}

.w-150-px{
    width: 150px;
}

.w-200-px{
    width: 200px;
}

.w-250-px{
    width: 250px;
}

.w-300-px{
    width: 300px;
}

.hidden{
    display:none;
}

.top-pad{
    margin-top:20%;
}